.button {
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  max-width: fit-content;
  font-size: 16px;
  border: none;
  background-color: var(--bg-accent-3);
  font-family: "Poppins", sans-serif;
  color: var(--text-primary-2);
  border-radius: 49px;
  cursor: pointer;
  transition: all 0.2s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;

  }

  @media screen and (hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .ripple-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -50%) scale(0);
    animation: ripple 600ms linear;
    pointer-events: none;
    z-index: 1;
  }
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(40);
    opacity: 0;
  }
}