.contacts-block {
  display: flex;
  flex-flow: column nowrap;
  gap: 11px;
  padding: 12px;
  width: 268px;
  background-color: var(--background-block-3);
  border-radius: 12px;

  color: var(--text-primary-2);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-align: left;

  .contact {
    color: var(--text-secondary-4);
    font-size: 10px;
    font-weight: 400;
  }
}
