.contacts-block {
  gap: 11px;
  padding: 12px;
  width: 268px;
  background-color: var(--background-block-3);

  .title {
    color: var(--text-primary-2);
  }

  .contact {
    color: var(--text-secondary-4);
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
}
