.languages-block {
  width: 267px;
  min-height: 124px;

  .languages-list {
    display: flex;
    flex-flow: column nowrap;

    gap: 10px;
    list-style: none;

    .language-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .language-name {
        max-width: 25%;
        line-height: 104%;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
      }

      .language-level-container {
        width: 168px;
        height: 11px;

        .language-level-bar {
          height: 100%;
          border-radius: 3px;
          background-color: var(--bg-accent-1);
        }
      }
    }
  }
}
