.name-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12px;
    width: 124px;
    height: 124px;
    border-radius: 12px;
    background-color: var(--background-block-1);

    .greeting {
      color: var(--text-primary-1);
      font-family: "Poppins", sans-serif;
      font-size: 10px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
    }

    .introduction {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .name {
        color: var(--text-primary-1);
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
      }

      .specialization {
        color: var(--text-secondary-1);
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-align: left;
      }
    }
  }