.name-block {
    gap: 46px;

    width: 124px;
    min-height: 124px;

    .greeting {
      font-size: 10px;
      font-weight: 500;
      line-height: 150%;
      text-align: left;
    }

    .introduction {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .name {
        line-height: 104%;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
      }

      .specialization {
        color: var(--text-secondary-1);
        font-size: 12px;
        line-height: 150%;
        font-weight: 500;
        text-align: left;
      }
    }
  }