@import url(resume.css);
@import url(profile-img-block.css);
@import url(name-block.css);
@import url(languages-block.css);
@import url(experiences-block.css);
@import url(tools-block.css);
@import url(education-block.css);
@import url(interests-block.css);
@import url(contacts-block.css);
@import url(editable-text.css);
@import url(button.css);
@import url(theme.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100%;
  min-height: 100%;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 0 0 20px 0;
  width: 100%;
  max-width: 1100px;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}